/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.clearfix::after {
    content: "";
	display: table;
	clear: both;
}
.conteiner {
    width: 80%;
    margin: auto;
}

/* Header  */
header {
    height: 150px;
    background-color: #e579e6;
    margin-top: 25px;
}

/* Main */
section {
    height: 500px;
    margin-top: 25px;
}
.first-section {
    background-color: #e1d67a;
}
.second-section {
    background-color: #0386fc;
}
